<a href="https://colab.research.google.com/github/daniellarkincbsinteractive/daniellarkincbsinteractive/blob/main/Week2_Python_Homework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Week2 Python Programming

In week2, we've covered:
* Creating **variables** 
* Different **data types**:
    * int
    * float
    * boolean
    * string
* Import **standard library**:
    * math
    
    
* **Data structures**:
    * List
    * Tuples
    * Dictionary
* **Function**:
    * Define function without parameter
        * **def** func():
    * Define function with parameter
        * **def** func(param):
* **Control flow**:
    * if, elif, else
    * for
    * while
* **DataFrame**:
    * Exploring a dataset

The best way to consolidate the knowledge in your mind is by practicing.<br>Please complete the part marked with <span style="color:green">**# TODO**</span>.

[Google](https://google.com) and [Python Documentation](https://docs.python.org/3/contents.html) are your good friends if you have any python questions.

## Variables and types

### Symbol names

Variable names in Python can contain alphanumerical characters `a-z`, `A-Z`, `0-9` and some special characters such as `_`. Normal variable names must start with a letter. 

By convention, variable names start with a lower-case letter, and Class names start with a capital letter. 

In addition, there are a number of Python keywords that cannot be used as variable names. These keywords are:

    and, as, assert, break, class, continue, def, del, elif, else, except, 
    exec, finally, for, from, global, if, import, in, is, lambda, not, or,
    pass, print, raise, return, try, while, with, yield

## Assignment


The assignment operator in Python is `=`. Python is a dynamically typed language, so we do not need to specify the type of a variable when we create one.

Assign an `int` to a variable with name `x` and print its type.

In [4]:
# x = int(2)
x = 2
print (x)

2

Assign a new value with `string` type to the same variable `x` and print its type.

In [5]:
x ='hello'
print (x)

hello

Print the value of a variable that has not been defined, see what error do you get:

In [11]:
x = ''
print (x)

## Operators and comparisons

Most operators and comparisons in Python work as one would expect:

* Arithmetic operators `+`, `-`, `*`, `/`, `//` (integer division), '**' power

Print the sum, difference, multiplication, and division between `1` and `2`.

In [43]:
# first number
num1 = 1
# second number
num2 = 2

# Add two numbers
sum = num1 + num2

# Display the sum
print('The sum of the the two numbers =', sum)

# num1 is greater than num2
if num1 > num2:
    diff = num1 - num2
# num1 is less than num2
else:
    diff = num2 - num1

# print difference value
print('The difference between the two numbers =', diff)

mul = num1 * num2;
print("Multiplication of the two numbers =",mul)

result = num1/num2
print("Division of the two numbers =",result)

The sum of the the two numbers = 3
The difference between the two numbers = 1
Multiplication of the two numbers = 2
Division of the two numbers = 0.5

Carry out Integer division of two float numbers.

In [3]:
a, b = 8, 2
result = a//b
print(result)

4

What is the value of `2` Power `15`?

In [1]:
n = 2
exponent = 15

while exponent < 15+1:
  n = n ** exponent
  exponent = exponent + 1
  print (n)

32768

Are the types of `1+2` and `1.0+2` the same?

In [2]:
def int_check(valuechk, valuecmp):
        if valuechk == valuecmp and type(valuechk) == int:
                return True
        else:
                return False

int_check(1, 2)
True
int_check(1.0, 2)
False

False

* The boolean operators are spelled out as the words `and`, `not`, `or`.

* Comparison operators `>`, `<`, `>=` (greater or equal), `<=` (less or equal), `==` equality, `is` identical.

Compare two boolean `True` and `False`

In [4]:
>>> (True or False) is True
True
>>> (True or False) == True
True

True

Use `False` to get `True`

In [5]:
(True or False) is False
True
(True or False) == False
True

True

Include both `False` and `True` in your code to get `True`

In [26]:
(True or False) is not False
True
(True or False) == True
True

True

Use two different ways: `==` and `is` to check if `l1` and `l2` is identical.

In [ ]:
# TODO
l1 = [1, 2]
l2 = [1, 2.0]

## Strings

Strings are the variables type that is used for storing text messages.

Create three string variables, and use one `print` to display all three variables.

In [31]:
mystring1 = 'Good morning. ';
mystring2 = 'How are you? ';
mystring3 = 'Hope you are well. ';
print(mystring1+mystring2+mystring3);

Good morning. How are you? Hope you are well.

Check the length of "Hello world!".

In [32]:
a = "Hello, World!"
print(len(a))

13

Get the index `0`character in a string.

In [33]:
s = 'CNET'

s[0]

'C'

Get the first 3 characters in a string.

In [36]:
s = 'CNET'

s[0:3]

'CNE'

Use a start index and a stop index to get the fifth character in a string.

In [39]:
# TODO
s = "Red Ventures"
s[5]

'e'

Get the last character in a string.

In [40]:
# TODO
s = "Charlotte"
s[-1]

'e'

#### Escape characters
In Python strings, the backslash "\\" is a special character, also called the **"escape"** character. It is used in representing certain whitespace characters: "\t" is a tab, "\n" is a newline, and "\r" is a carriage return. Conversely, prefixing a special character with "\" turns it into an ordinary character.

Print out the following strings:
<pre>
'    Everything is written in pencil.'

'Everything is written
 in pencil.'
 
'Everything \ is written \ in pencil.'

'Red Ventures brands, just list a few:
   * Bankrate
   * Reviews.com
   * the Points Guy
   * creditcards.com'
</pre>

In [12]:
a = '\tEverything is written in pencil.\n'
print(a)
b = 'Everything is written\nin pencil.\n'
print(b)
c = 'Everything\t is written\t in pencil.\n'
print(c)
d = 'Red Ventures brands, just list a few: \n * Bankrate \n * Reviews.com \n * the Points Guy \n * creditcards.com'
print(d)

	Everything is written in pencil.

Everything is written
in pencil.

Everything	 is written	 in pencil.

Red Ventures brands, just list a few:
 * Bankrate
 * Reviews.com
 * the Points Guy
 * creditcards.com

#### String methods
Here are some of the most common string methods. A method is like a function, but it runs "on" an object. If the variable s is a string, then the code s.lower() runs the lower() method on that string object and returns the result (this idea of a method running on an object is one of the basic ideas that make up Object Oriented Programming, OOP). Here are some of the most common string methods:

lower(), upper(), strip(), isdigit(), startswith(), endswith(), find(), replace(), split(), join()

[Documentation](https://docs.python.org/3/library/stdtypes.html#string-methods)

Convert all letters to lower cases.

In [16]:
s = 'RED FISH'
print(s.lower())

red fish

Check if string starts with `r`

In [20]:
# TODO
s = 'Run Up Escalators'
s.startswith('R')

True

Find the index of the single quote.

In [25]:
# TODO
s = "You don't have to lie."
s.find('\'')

7

## Type casting
The process of converting the value of one data type to another is called type casting or type conversion.

Cast variable `z` to `int` and print its type.

In [28]:
# TODO
z = int(2.8)
print(type(z))

<class 'int'>

Are the types of 1 + 2 and 1.0 + 2 the same?

In [ ]:
# TODO

Add num_int and num_str, you should provide two outputs. One is a string and the other is an int.

In [34]:
# TODO
num_int = 123
num_str = "456"
print("Data type of num_int:",type(num_int))
print("Data type of num_str before Type Casting:",type(num_str))

num_str = int(num_str)
print("Data type of num_str after Type Casting:",type(num_str))

num_sum = num_int + num_str

print("Sum of num_int and num_str:",num_sum)
print("Data type of the sum:",type(num_sum))

Data type of num_int: <class 'int'>
Data type of num_str before Type Casting: <class 'str'>
Data type of num_str after Type Casting: <class 'int'>
Sum of num_int and num_str: 579
Data type of the sum: <class 'int'>

What happens if you cast `-1` to a boolean?

In [ ]:
# TODO

## Standard Library
Python’s standard library is very extensive, offering a wide range of facilities. The library contains built-in modules (written in C) that provide access to system functionality as well as modules written in Python that provide standardized solutions for many problems that occur in everyday programming. 

For example, the `math` module gives access to the underlying C library functions for floating point math.

[Documentation](https://docs.python.org/3/library/math.html)
<br>
<br>

Import math module and calculate $e^4$.

In [5]:
# TODO
import math

def e(n=4):
    return sum(1 / float(math.factorial(i)) for i in range(n))

Calculate the value of $log_2(8)$.

In [3]:
# TODO
import math
num = 8
print("Logarithm with base 2 of the value ", num, " is: ", math.log2(num))

Logarithm with base 2 of the value  8  is:  3.0

Calculate the value of $\sqrt{100}$.

In [ ]:
# TODO
import math

## List
[List Documentation](https://www.w3schools.com/python/python_lists.asp)

### 1. Fill the ___ parts of code below

In [6]:
# TODO
# Let's create an empty list
my_list = []

# Let's add some values
my_list.insert(1, 'Python')
my_list.insert(2, 'is ok')
my_list.insert(3, 'sometimes')

# Let's remove 'sometimes'
my_list.remove('sometimes')

# Let's change the second item
my_list[1] = 'is neat'

In [7]:
my_list

['Python', 'is neat']

In [8]:
# Let's verify that it's correct
assert my_list == ['Python', 'is neat']

### 2. Create a new list without modifying the original one

In [ ]:
original = ['I', 'am', 'learning', 'hacking', 'in']

In [ ]:
# TODO

In [ ]:
assert original == ['I', 'am', 'learning', 'hacking', 'in']
assert modified == ['I', 'am', 'learning', 'lists', 'in', 'Python']

### 3. Create a merged sorted list

In [ ]:
list1 = [6, 12, 5]
list2 = [6.2, 0, 14, 1]
list3 = [0.9]

In [ ]:
# TODO
my_list =

In [ ]:
print(my_list)
assert my_list == [14, 12, 6.2, 6, 5, 1, 0.9, 0]

### 4. Loop through a list  
[For Loops Documentation](https://www.w3schools.com/python/python_for_loops.asp)  
[While Loops Documentation](https://www.w3schools.com/python/python_while_loops.asp)

Loop through a list and check:
* If an item is a float, cast the float to int.
* If an item is an int, cast the int to float
* Hint: use isinstance()

In [1]:
loop_list1 = [1101, 704.971, 'Fort Mill']
# TODO 
# use for loop

In [18]:
print(loop_list1)
assert loop_list1 == [1101.0, 704, 'Fort Mill']

[1101, 704.971, 'Fort Mill']

AssertionError: ignored

In [ ]:
loop_list2 = [1101, 704.971, 'Fort Mill']
# TODO
# use while loop

In [ ]:
print(loop_list2)
assert loop_list2 == [1101, 704, 'Fort Mill']

## Tuples
[Tuples Documentation](https://www.w3schools.com/python/python_tuples.asp)

### 1. Fill the ___ parts of code below

In [ ]:
# TODO
# create a tuple with items of different data types
my_tuple = ___
print(my_tuple, type(my_tuple))

# Unpack my_tuple in several variables
___= my_tuple

# convert my_tuple to list and assign to variable my_list
my_list = ___(my_tuple)
print(my_list, type(my_list))

# convert my_list to tuple and assign to variable my_new_tuple
my_new_tuple = ___(my_list)
print(my_new_tuple, type(my_new_tuple))

### 2. Check the immutable property of tuple

In [ ]:
# TODO
rv_tuple = 1101, 'Red', 'Ventures', 'Drive'
print(rv_tuple, type(rv_tuple))
# check id
print(___(rv_tuple))
# modify the variable
rv_tuple = rv_tuple + (29707, )
print(rv_tuple, type(rv_tuple))
# check id
print(___(rv_tuple))

# TODO
# Do the same exercises as above for a list and see the difference
# Remember list is mutable

### 3. Define Functions  

[Functions Documentation](https://www.w3schools.com/python/python_functions.asp)

Write a function that accepts a string and return the number of uppercase letters and lowercase letters.

In [ ]:
# TODO
def check_case():
    
    return uppercase_number, lowercase_number

In [ ]:
my_string = "This is Week3 Python Programming Homework."
assert check_case(my_string)[0] == 5
assert check_case(my_string)[1] == 30

## Dictionary
[Dictionary Documentation](https://www.w3schools.com/python/python_dictionaries.asp)

### 1. Fill the ___ parts of code below

In [20]:
# TODO
# create an empty dictionary
my_dict = ___
print(my_dict, type(my_dict))

# create a dictionary with values
my_dict = ___
print(my_dict, type(my_dict))

# add key/value to my_dict
my_dict___
print(my_dict)

# remove the key you added from my_dict
my_dict___
print(my_dict)

 <class 'str'>
 <class 'str'>

NameError: ignored

### 2. Sort Dictionary

Print out key/value pair by the ascending order of keys.

In [21]:
# TODO
location_dict = {'Charlotte': 'NC', 'Austin': 'TX', 'New York': 'NY', 'Los Angeles': 'CA'}

Display the location_dict by the descending order of values.

In [22]:
# TODO
location_dict = {'Charlotte': 'NC', 'Austin': 'TX', 'New York': 'NY', 'Los Angeles': 'CA'}

## Set

Though `set` is not covered in the video materials, it is also one of the major data structures in Python.

[Set Documentation](https://www.w3schools.com/python/python_sets.asp)

### 1. Fill the ____ parts of code below

In [ ]:
# TODO
# create an set
my_set = ____
print(my_set, type(my_set), '\n')

# create a set with values
my_set = ____
print(my_set, type(my_set), '\n')

# add a new value to my_set
# the value should be a different
my_set.___
print(my_set, '\n')


# remove the value you added from my_set
my_set.____
print(my_set, '\n')

### 2. Set Manipulation

Use a list  with duplicated values and a tuple to create two sets respectively, and get a union set between those two.

In [ ]:
# TODO

Create two sets `my_set1` and `my_set2`, and get values in `my_set1` but not in `my_set2`.

In [ ]:
# TODO

## DataFrames

[Dataframe Documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html)

In [ ]:
import pandas as pd
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv'

# Download the CSV from the above url.
# This csv is separated by a ';' so we need to add that as a parameter to the read_csv method.
df = pd.read_csv(url, sep=';')

Show the first 6 rows of the `df` dataframe

In [ ]:
# TODO

Print out the summary statistics for each dataframe column

In [ ]:
# TODO

## Submission

Download completed **Week2_Python_Homework.ipynb** from Google Colab and commit to your personal Github repo you shared with the faculty.